html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
:root {
  --vueuse-safe-area-top: 0px;
  --vueuse-safe-area-right: 0px;
  --vueuse-safe-area-bottom: 0px;
  --vueuse-safe-area-left: 0px;
}